*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/****** Base Styles ******/

body {
  font-family: 'Open Sans', sans-serif;
  color: #0D2540;
	font-size: .9em;
  font-weight: 300;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #222B35 0%, rgb(124, 137, 152) 15%, rgb(154, 163, 175) 30%, rgb(240, 245, 251) 65%, rgba(233,239,245,1) 90%);
}

h1,
h2,
legend {
  color: #222B35;
}

/****** Section Layout ******/

.main-container {
	width: 92%;
	margin: 0 auto;
}

.main-header,
.intro,
.copyright {
	text-align: center;
}


/****** Section Styles ******/

.main-header {
	background: #222B35;
	width: 100%;
	margin: 0;
	padding: 25px;
}

.main-header > h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}

.intro {
	border-bottom: solid 3px #222B35;
	margin: 20px auto;
	position: relative;
}

.intro::after {
	display:block; 
	content:'';
  width:100%; 
	height: 8px;
	position: absolute;
  border-bottom: solid 2px #222B35;
}

.intro > h2 {
	font-size: 1.3em;
}

.intro p {
	color: #999FA5;
	margin: 10px 15px 0;
	font-size: 1em;
	padding-bottom: 35px;
}

.payment-container,
.contact {
	padding-bottom: 20px;
	border-bottom: solid 2px #222B35;
	margin-bottom: 40px;
}

.payment-container legend, 
.contact legend {
	margin-bottom: 20px;
}

.news-container {
	padding-left: 5px;
}

.news-container legend {
	margin-left: -5px;
}

.copyright p {
	font-style: italic;
	font-size: .9em;
	margin-top: -15px;
	margin-bottom: 30px;
	color: #9EA2A7;
}


/****** Form Layout ******/

form {
  margin: 30px auto;
  padding: 0;
}


/****** Form - Base Styles ******/

/* Input Styles */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: none;
  outline: 0;
  padding: 15px 15px 15px 40px;
  width: 100%;
	height: auto;
  background-color: #ebecee;
  margin: 0 0 18px;
	border-radius: 3px;
	font-style: normal;
	font-size: 1em;
	transition: background-color 1s ease-in-out; 
}

input:focus,
textarea:focus,
.input-half-left input[type="text"]:focus,
.input-half-right input[type="text"]:focus {
	padding-left: 40px;
	background-color: rgba(5, 162, 149, 0.1);
	color: #424242;
	border: solid 2px #375578;
}

fieldset {
  margin: 0 0 20px 0;
	padding: 0;
  border: none;
}

legend {
	font-size: 1.2em;
	font-weight: 700;
	padding: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

/****** Form - Section Styles ******/

/* Placeholder Styles */


/*
input[placeholder="Required"] {
	text-align: right;
	font-size: .9em;
	font-weight: 300;
	font-style: italic;
	opacity: 0.7;
}
The ::placeholder pseudo element below has 90% browser support/partial suppot but returns a validation error. The rule above to be used if deemed necesary. */

input[placeholder="Required"]::placeholder {
	text-align: right;
	font-size: .9em;
	font-weight: 300;
	font-style: italic;
	opacity: 0.7;
}

input[placeholder="Required"]::-webkit-input-placeholder { text-align: right; font-size: .9em; font-weight: 300; font-style: italic; opacity: 0.7; } /* (Chrome/Safari/Opera) */
input[placeholder="Required"]:-ms-input-placeholder { text-align: right; font-size: .9em; font-weight: 300; font-style: italic; opacity: 0.7; } /* for IE */
input[placeholder="Required"]::-ms-input-placeholder { text-align: right; font-size: .9em; font-weight: 300; font-style: italic; opacity: 0.7; } /* for Edge (also supports webkit prefix) */


input[placeholder="Required"]:focus {
	text-align: left;
}

input:focus::-webkit-input-placeholder { color:transparent; }  /* This rule set removes placeholder on focus */
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.help {
	display: none;
	font-size: 1em;
	color: #1A8077;
	vertical-align: top;
	margin-top: -12px;
	margin-left: 40px;
	font-style: italic; 
}

input:focus + .help {
	display:inline-block;
}


/* Icon Styles */

.icon-placement {
	position: relative;
}

.fa {
	min-width: 30px;
}

.label-icon > .fa,
.payment-icon > .fa {
	color: #5B6571;
	position: relative;
	top: 40px;
	left: 40px;
	z-index: 1000;
	font-size: 1.2em;
}

label[class="label-icon"] {
	margin-left: -23px;
}

label[class="payment-icon"] {
	margin-left: -27px;
}

label[for="cvc"] {
	margin-left: 80px;
}

label[for="state"],
label[for="zip"] {
	margin-left: 6px; 	/*	For some reason the state and zip labels became unaligned when the icons were added */
}


/* Select Styles */

.styled-select {
	background: url('../images/chev-down-2.jpg') no-repeat right;
  background-color: #ebecee;
  padding: 15px;
	height: 50px;
  margin: 0 0 18px;
	border-radius: 3px;
	width: 100%;  /* this rule helps remove the default selector icon */
	overflow: hidden; /* this rule helps remove the default selector icon */
}

select[id="state"] {
	font-size: .9em;
	color: #979DA3;
	margin-top: -20px;
	font-weight: 300;
	background: transparent; 
	width: 110%; /* this rule helps remove the default selector icon */
}


/* Number Field Styles */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[id="zip"]{ 
  -webkit-appearance: none; 
  width: 50% 
}


/* Payment Section Styles */

.payment-container label {
	margin-top: 5px;
}

label[for="expiry-date"],
label[for="cvc"] {
	display: inline-block;
}

.input-half-left,
.input-half-right {
	float: left;
	width: 50%;
	margin-bottom: 0;
}

.input-half-left input[type="text"] {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 1px dashed #222B35;
	margin-bottom: 0;
}

.input-half-right input[type="text"] {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 0;
}

.input-half-right input[type="text"]:focus {
	margin-left: -4px;
}


/* Checkbox & Radio Styles */

label[for^="type"],
label[for^="format"] {
	display: inline-block;
	margin-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	background: #DFDFE0;
	border-radius: 3px;
}

input[type="checkbox"]:checked + label span {
	background: url('../images/checkbox-checked.png') no-repeat 0 1px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	background: #DFDFE0;
	border-radius: 50%;
}

input[type="radio"]:checked + label span {
	background: url('../images/radio-button.png') no-repeat;
}


/* Text Area  */

textarea {
  resize: none;
	height: 100px;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #DEDEDE;
}


/* Button  */

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #41AFA6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  margin-bottom: 10px;
	width: 100%;
	border: none;
}

/* For large smartphones such as iPhone6 */

@media screen and (min-width: 375px) {

	.payment-icon + .cvc > .fa {
    left: 60px;
	}
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }
	
	.intro {
		width: 68%;
	}

	label[for="cvc"] {
    margin-left: 170px;
	}
	
	.payment-icon + .cvc > .fa {
    left: 42px;
	}
}

@media screen and (min-width: 769px) {
	
	form,
	.main-container,
	.intro {
    max-width: 600px;
		width: 100%;
  }
	
	.form-left {
		width: 25%;
		float: left;
		margin-right: 1%;
	}
	
	.form-right {
		width: 74%;
		float: left;
	}

	.intro > h2 {
    font-size: 1.6em;
		margin-bottom: 10px;
	}

	input[type="radio"] + label span,
	input[type="checkbox"] + label span {
		cursor: pointer;
	}
	
	label,
	.payment-container label {
		margin-top: 15px;
	}
	
	label[for^="type"], 
	label[for^="format"] {
		margin-top: 0;
	}
	
	.label-icon > .fa,
	.payment-icon .fa {
    top: 0;
		left: 195px;
	}
	
	.payment-icon + .cvc > .fa {
    left: 375px;
	}
	
	label[for="cvc"] {
    margin-left: -30px;
	}
	
	label[for="expiry-date"]:after {
    content: " /";
	}
	
	input[id="zip"] {
    width: 40%;
	}
	
}
