*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #435467;
	font-size: .9em;
  font-weight: 300;
	margin: 0;
	padding: 0;
}

.main-container {
	width: 92%;
	margin: 0 auto;
}

.news-container {
	padding-left: 5px;
}

.news-container legend {
	margin-left: -5px;
}

.main-header,
.intro,
.copyright {
	text-align: center;
}

.main-header {
	background: #222B35;
	width: 100%;
	margin: 0;
	padding: 25px;
}

.main-header > h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}

.intro {
	border-bottom: solid 3px #222B35;
/*	width: 90%;*/
	margin: 20px auto;
	position: relative;
}

.intro::after {
	display:block; 
	content:'';
  width:100%; 
	height: 8px;
	position: absolute;
  border-bottom: solid 2px #222B35;
}

.intro > h2 {
	font-size: 1.3em;
}

.intro p {
	color: #999FA5;
	margin: 10px 15px 0;
	font-size: 1em;
	padding-bottom: 35px;
}

h1,
h2,
legend {
  color: #222B35;
}

.contact {
	padding-bottom: 20px;
	border-bottom: solid 2px #222B35;
}

.contact legend {
	margin: 20px 0;
}

.copyright p {
	font-style: italic;
	font-size: .9em;
	margin-top: -15px;
	margin-bottom: 30px;
	color: #9EA2A7;
}


/* Standard Form Styles ---------- */

form {
  max-width: 300px;
  margin: 30px auto;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea ,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  outline: 0;
  padding: 15px;
  width: 100%;
	height: auto;
  background-color: #ebecee;
  margin: 0 0 18px;
	border-radius: 3px;
}

fieldset {
  margin: 0 0 20px 0;
	padding: 0;
  border: none;
}

legend {
	font-size: 1.2em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #41AFA6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  margin-bottom: 10px;
	width: 100%;
	border: none;
}

/* -----------------------------
			Custom Form Styles 
--------------------------------*/

/* Select Styles */

.styled-select {
	background: url('../images/chev-down-2.jpg') no-repeat right;
  background-color: #ebecee;
  padding: 15px;
	height: 50px;
  margin: 0 0 18px;
	border-radius: 3px;
	width: 295px;
	overflow: hidden;
}

select[id="state"] {
	font-size: .9em;
	color: #979DA3;
	margin-top: -20px;
	font-weight: 300;
	background: transparent;
	width: 300px;
}


/* Number Field Styles */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[id="zip"]{ 
  -webkit-appearance: none; 
  width: 50% 
}

/* Checkbox & Radio Styles*/

input[type="checkbox"],
input[type="radio"]
{
	display: none;
}

input[type="checkbox"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	background: #EBECEE;
	border-radius: 3px;
}

input[type="checkbox"]:checked + label span {
	background: url('../images/checkbox-checked.png') no-repeat 0 1px;
}

label[for^="type"],
label[for^="format"] {
	display: inline-block;
	margin-bottom: 20px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	background: #EBECEE;
	border-radius: 50%;
}

input[type="radio"]:checked + label span {
	background: url('../images/radio-button.png') no-repeat;
}


/* Text Area  */

textarea {
  resize: none;
	height: 100px;
	border-radius: 5px;
	margin-bottom: 5px;
}


/* Attribute Styles -------- */


input[placeholder="Required"] {
	text-align: right;
	font-size: .9em;
	font-weight: 300;
	font-style: italic;
	opacity: 0.7;
}

input[placeholder="Required"]:focus {
	text-align: left;
}

input:focus::-webkit-input-placeholder{
	color: transparent!important;  /*  Removes the placeholder on focus	 */
}
input:focus::-moz-placeholder{
	color: transparent!important;  /*  Removes the placeholder on focus	 */
}
input:focus:-moz-placeholder{
	color: transparent!important;  /*  Removes the placeholder on focus	 */
}



/* Psuedo Styles ---------- */

input:focus,
textarea:focus {
	border: solid 2px #375578;
}



@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

@media screen and (min-width: 769px) {
	
	input[type="radio"] + label span,
	input[type="checkbox"] + label span {
		cursor: pointer;
	}
}
